body {
    font-family: "Yu Gothic UI", sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
}

#flash-messages {
    margin: 16px 0;
}

.flash-message {
    padding: 12px 16px;
    border-radius: 6px;
}

.flash-message.success {
    background-color: #e8f5e9;
    border: 1px solid #81c784;
}

.flash-message.error {
    background-color: #ffebee;
    border: 1px solid #e57373;
}

aside {
    border-right: 1px solid #ccc;
    width: 320px;
    padding: 20px;
}

#gantt-container {
    overflow-x: auto;
    flex: 1;
    padding: 20px;
}

input {
    margin: 5px 0;
}

button {
    margin: 10px 0;
    padding: 8px 16px;
}

#gantt-chart {
    min-width: 600px;
}

#gantt-header {
    display: grid;
    grid-template-columns: 120px 1fr;
}

#gantt-dates {
    display: flex;
}

.gantt-date {
    width: 40px;
    flex-shrink: 0;
    text-align: center;
    border-right: 1px solid #cccccc;
    box-sizing: border-box;
    font-size: 12px;
    padding: 4px 0;
}

.gantt-task {
    display: grid;
    grid-template-columns: 120px 1fr;
    margin-bottom: 8px;
}

.gantt-task-title {
    padding: 8px;
}

.gantt-row {
    position: relative;
    height: 36px;
    overflow: hidden;

    background-image:
        repeating-linear-gradient(
            to right,
            #dddddd 0,
            #dddddd 1px,
            transparent 1px,
            transparent 40px
        );
}

.gantt-bar {
    position: absolute;
    top: 4px;
    left: 0;

    height: 28px;
    line-height: 28px;

    padding: 0 8px;

    color: white;
    font-size: 14px;

    border-radius: 4px;

    box-sizing: border-box;
}

#gantt-chart {
    min-width: 600px;
    position: relative;
}

.gantt-today-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: red;
    z-index: 10;
    pointer-events: none;
}