<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ガントチャートアプリ</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>

        <h1>ガントチャートアプリ</h1>
        <hr>

    </header>

    <main>
        
        <aside>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <section id="flash-messages">
                        {% for category, message in messages %}
                            <p class="flash-message {{ category }}">
                                {{ message }}
                            </p>
                        {% endfor %}
                    </section>
                {% endif %}
            {% endwith %}

            <section id="task-list">
                <h2>タスク一覧</h2>
                <ul>
                    {% for task in tasks %}
                        <li>
                            <span>{{ task.title }}</span>
                            <span>{{ task.start_date }}</span>
                            <span>～</span>
                            <span>{{ task.end_date }}</span>
                            <span
                                class="task-color"
                                style="background-color: {{ task.color }};">
                            </span>
                        </li>
                    {% else %}
                        <li>登録されているタスクはありません。</li>
                    {% endfor %}
                </ul>
            </section>
            <hr>

            <form
                id="task-form"
                action="/add"
                method="post">
                <h2>タスク管理</h2>

                <label for="task-id">
                    タスク選択
                </label>
                <select 
                    id="task-id"
                    name="task-id">


                    <option value="">
                        タスクを選択してください
                    </option>

                    {% for task in tasks %}
                        <option value="{{ task.id }}"
                                data-title="{{ task.title }}"
                                data-color="{{ task.color }}"
                                data-start-date="{{ task.start_date }}"
                                data-end-date="{{ task.end_date }}">
                            {{ task.title }}
                        </option>
                    {% endfor %}
                </select>
                <br>

                <label for="task-title">
                    タスク名
                </label>
                <input
                    id="task-title"
                    name="task-title"
                    type="text"
                    placeholder="例：研究"
                    maxlength="12"
                    minlength="1"
                    required>
                <br>
                
                <label for="task-color">
                    色
                </label>
                <input
                    id="task-color"
                    name="task-color"
                    type="color"
                    required>
                <br>

                <label for="task-start-date">
                    開始日
                </label>
                <input
                    type="date"
                    id="task-start-date"
                    name="task-start-date"
                    required>
                <br>

                <label for="task-end-date">
                    終了日
                </label>
                <input
                    type="date"
                    id="task-end-date"
                    name="task-end-date"
                    required>
                <br>

                <button
                    type="submit"
                    id="task-save-button">
                    保存
                </button>

                <button
                    type="submit"
                    formaction="/update"
                    formmethod="post">
                    編集
                </button>

                <button
                    type="submit"
                    id="task-delete-button"
                    formaction="/delete"
                    formmethod="post"
                    formnovalidate>
                    削除
                </button>

            </form>
                
        </aside>

        <section id="gantt-container">
            <h2>ガントチャート</h2>

            <div id="gantt-chart">

                <div id="gantt-month-header">
                    <div class="gantt-header-title"></div>
                    <div id="gantt-months"></div>
                </div>

                <div id="gantt-header">
                    <div class="gantt-header-title"></div>
                    <div id="gantt-dates"></div>
                </div>

                {% for task in tasks %}
                    <div
                        class="gantt-task"
                        data-title="{{ task.title }}"
                        data-color="{{ task.color }}"
                        data-start-date="{{ task.start_date }}"
                        data-end-date="{{ task.end_date }}">

                        <span class="gantt-task-title">
                            {{ task.title }}
                        </span>

                        <div class="gantt-row">
                            <div class="gantt-background"></div>
                            <div class="gantt-bar">
                                {{ task.title }}
                            </div>
                        </div>

                    </div>
                {% else %}
                    <p>表示するタスクがありません。</p>
                {% endfor %}
            </div>
        </section>
        
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>