<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ガントチャートアプリ</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>

        <h1>ガントチャートアプリ</h1>
        <hr>

    </header>

    <main>
        
        <aside>

            <section id="task-list">
                <h2>タスク一覧</h2>
                <ul>
                    {% for task in tasks %}
                        <li>
                            <span>{{ task.title }}</span>
                            <span>{{ task.start_date }}</span>
                            <span>～</span>
                            <span>{{ task.end_date }}</span>
                            <span
                                class="task-color"
                                style="background-color: {{ task.color }};">
                            </span>
                        </li>
                    {% else %}
                        <li>登録されているタスクはありません。</li>
                    {% endfor %}
                </ul>
            </section>
            <hr>

            <form
                id="task-form"
                action="/add"
                method="post">
                <h2>タスク管理</h2>

                <label for="task-id">
                    タスク選択
                </label>
                <select 
                    id="task-id"
                    name="task-id">
                    {% for task in tasks %}
                        <option value="{{ task.id }}">
                            {{ task.title }}
                        </option>
                    {% endfor %}
                </select>
                <br>

                <label for="task-title">
                    タスク名
                </label>
                <input
                    id="task-title"
                    name="task-title"
                    type="text"
                    placeholder="例：研究"
                    maxlength="12"
                    minlength="1"
                    required>
                <br>
                
                <label for="task-color">
                    色
                </label>
                <input
                    id="task-color"
                    name="task-color"
                    type="color"
                    required>
                <br>

                <label for="task-start-date">
                    開始日
                </label>
                <input
                    id="task-start-date"
                    name="task-start-date"
                    type="date"
                    required>
                <br>

                <label for="task-end-date">
                    終了日
                </label>
                <input
                    id="task-end-date"
                    name="task-end-date"
                    type="date"
                    required>
                <br>

                <button
                    type="submit"
                    id="task-save-button">
                    保存
                </button>

                <button
                    type="submit"
                    formaction="/update"
                    formmethod="post">
                    編集
                </button>

                <button
                    type="submit"
                    formaction="/delete"
                    formmethod="post">
                    削除
                </button>

            </form>
                
        </aside>

        <section id="gantt-container">
            <h2>ガントチャート</h2>

        </section>
        
    </main>

</body>
</html>